@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@300;400;600;700&family=Roboto:wght@100;400&display=swap');

body {
    width: 100%;
    margin: 0;
    background: conic-gradient(from 180deg at 50% 50%, #4FA4C2 0deg, #3B88AD 167.02deg, #357FA6 296.25deg, #4FA4C2 360deg);
    overflow-x: hidden;
    font-family: 'Inter', serif;
}

:root {
    --bgcl: #4FA4C2;
    --pricl: #06215E;
    --inputbg: #B9C8DA;
    --test-light: #fff;
    --bd-radious: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 5rem;
}

#our-web, #coming-soon {
    text-transform: uppercase;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #F5F5F5;
    margin: 0;
}

#coming-soon {
    font-family: 'Roboto Serif', serif;
    font-size: 6.25rem;
    color: #06215E;
}


#description {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25625rem;
    line-height: 24px;
    padding-bottom: 70px;
    color: #FFFFFF;
    background: none;
    margin: 0;
    max-width: 80%;
}

@media (max-width: 768px) {
    #our-web {
        font-size: 30px;
    }

    #coming-soon {
        font-size: 4rem;
    }

    #description {
        font-size: 1rem;
    }
}

@media (max-width: 650px) {
    main {
        /*height: 100vh;*/
    }
}

#countdown {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    color: #06215E;
    background: none;
}

.unit {
    display: block;
    text-transform: capitalize;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    background: none;
    margin: 0 1.45rem;
    width: 200px;
}

#countdown .unit div {
    height: 105px;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 105px;
    padding: 15px;
    border-radius: 5px;
    background: #B9C8DA;
    color: #06215E;
}

@media (max-width: 768px) {
    #countdown {
        font-size: 50px;
        justify-content: center;
        width: 100%;
    }

    .unit {
        font-size: 15px;
        margin: 0 0.5rem;
        width: 135px;
    }

    #countdown .unit div {
        height: 70px;
        font-size: 50px;
        line-height: 70px;
    }
}

/* OVUZO SECTION STYLE START */
.container {
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
}

.form-sec {
    margin-top: 100px;
    padding: 10px;
    background: var(--pricl);
    /* position: relative;
    top: 60vh; */
}

.form-head {
    text-align: center;
    color: var(--test-light);
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
    font-family: 'Inter', serif;
}

.form {
    display: grid;
    grid-template-columns: 85% 15%;
    height: 3.5rem;
}

input {
    width: 100%;
    border: none;
    background: var(--inputbg);
    padding-left: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Inter', serif;
    color: var(--pricl);
    border-radius: 10px 0 0 10px;
}

.form-btn {
    border: none;
    background: var(--bgcl);
    color: var(--pricl);
    border-radius: 0 10px 10px 0;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Inter', serif;
}

footer {
    width: 100%;
}

footer p {
    font-size: 1.2rem;
    text-align: center;
    color: var(--test-light);
    padding-top: 3rem;
    font-weight: 400;
    font-family: 'Inter', serif;
}

@media (max-width: 768px) {
    .form {
        height: 2.5rem;
    }

    .form-head, input, footer p {
        font-size: 1.2rem;
    }

    footer p {
        font-size: .8rem;
    }

    .form-btn {
        font-size: .8rem;
        font-weight: 400;
    }
}

@media (max-width: 500px) {
    .form {
        height: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-head, input, footer p {
        font-size: .7rem;
    }

    .container {
        width: 90%;
    }

    .form-btn {
        font-size: .6rem;
        font-weight: 400;
        display: block;
        width: 85%;
        border-radius: 10px;
        margin-top: 6px;
        height: 50px !important;
    }

    input {
        font-size: .7rem;
        display: block;
        width: 78%;
        border-radius: 10px;
        height: 50px !important;
    }
}

/* OVUZO SECTION STYLE END */


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1145rem 1.6rem;
}


ul {
    display: flex;
    align-items: center;
    padding: 10px 100px;
    flex-wrap: wrap;
    max-width: 100%;
}


nav ul li {
    list-style-type: none;
    margin: 0 1.625rem;
    width: fit-content;
}

nav ul li:last-child {
    margin-right: 0;
}

@media screen and (max-width: 1000px) {
    ul {
        padding: 10px 20px;
    }

    nav ul li {
        margin: 0 1.1rem;
    }
}

/*
nav ul li a svg {
    width: 26px;
    height: 30px;
} */

nav ul li a {
    width: 96px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

nav ul li a:hover {
    color: rgba(53, 127, 166, 1);
}

.login {
    border-radius: 5px;
    background-color: rgba(6, 33, 94, 1);
    height: 54px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 360px) {
    /* Responsiveness */
    ul {
        display: inline-block;
        /* flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; */
    }

    nav ul img {
        margin-right: 0;
    }
}

/*
direct child of nav
 */
nav > img {
    display: none;
}

@media (max-width: 650px) {
    nav {
        padding: 1.1rem;
        margin: 0 0 3rem;
        background-color: #06215E;
    }

    ul {
        display: none;
        padding: 10px 20px;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 71px;
        background: #06215E;
    }
    ul.active {
        display: block;
    }

    nav ul li {
        margin: 0.8rem;
    }

    nav ul .login {
        color: #06215E;
        background-color: #B9C8DA;
    }

    nav ul li:last-child, nav ul li:nth-last-child(2) {
        display: inline-block !important;
    }

    nav ul li:nth-last-child(2) {
        position: relative;
        bottom: -9px;
    }


    nav > img {
        display: block;
        margin: 0 1.4rem;
    }

    nav a img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }
}
